#image {
    height: 240px;
    width: 240px;
    border-radius: 10px;
}

.tip {
   border-radius: 30px;
   background-color: green;
   color: black;
   position: absolute;
   bottom: 39.8%; 
   margin: 2px;
   padding-left: 10px;
   padding-right: 10px;
}